/* Wrapper untuk sidebar dan konten utama */
.sidebar-container {
    display: flex;
    height: 100vh;
}

/* Sidebar dengan garis pemisah */
.sidebar-content {
    width: 250px; /* Sesuaikan dengan lebar sidebar */
    position: fixed;
    height: 100vh;
    border-right: 3px solid rgb(0, 0, 0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Konten utama */
.main-content {
    margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
    padding: 20px;
    width: calc(100% - 250px);
}
