.visi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.misi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.tujuan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* .input{
    width: 400px;
    height: 100px;
} */

.card {
    width: 350px;
}

.costum-form {
    width: 500px;
   
}

.btn-update {
    background-color: rgb(4, 218, 4);
    color: white;
}

.btn-update:hover {
    background-color: gold;
    color: white;
}

ul {
    list-style-type: decimal;
    /* Menampilkan angka dengan format 1, 2, 3... */
    padding-left: 20px;
    /* Memberikan jarak pada sisi kiri list */
}


.input{
    width: 50px;
   
}