.body-footer{
    background-color: blue;
    color: white;
    padding: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.costum-table td{
    background-color: blue;
    color: white;
}